<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
    <div class="app-box">
    <h1>Add publication</h1>
        <form action="/add_user_publication" method="POST">
            <input type="text" name="title" placeholder="Title"/>
            <input type="text" name="authors" placeholder="Authors"/>
            <input type="text" name="year" placeholder="Publication year"/>
            <input type="text" name="publisher" placeholder="Publisher"/>
            <input id="submit_form" type="submit" value="Send"/>
        </form>
    </div>
    </body>
</html>

<script>
    document.getElementById("submit_form").disabled = true;
    var myinput = document.querySelectorAll('input[type="text"]');
    for(var i=0; i<myinput.length; i++)
        myinput[i].addEventListener('change', validateForm);

    function validateForm(){
        isEmpty = true;

        var myinput = document.querySelectorAll('input[type="text"]');
        for(var i=0; i<myinput.length; i++) {
            if(myinput[i].value.length === 0) {
                isEmpty = true;
                break;
            } else {
                isEmpty = false;
            }
        }

        var sbm = document.getElementById("submit_form");
        sbm.disabled = isEmpty;
    }
</script>