<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
    <div class="app-box">
        <div class="logout">
            <a href="/logout">Logout</a>
        </div>

        <div style="margin-bottom: 20px;">
            <form action="/user_publications">

                <button>
                    Back to my publications
                </button>
            </form>
        </div>

        <div id="info_box"></div>

        <div id="files_list">
            <h2>Files list:</h2>
        </div>

        <h2>Upload file</h2>
        <form action="/user_publications/{{PID}}/upload_file" method="POST" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <input type="submit" value="Send"/>
        </form>

        <div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center; padding:20px;">
            <form action="/update_publication_form/{{PID}}">
                <button>
                    Update publication
                </button>
            </form>
            <form action="/user_publications/{{PID}}/delete">
                <button>
                    Delete publication
                </button>
            </form>
        </div>

    </div>

    <script f={{publication}}>
        var pubInfo = ''

        var p = '{{ publication|safe }}'

        var publication = JSON.parse(p)

        for(var info in publication) {
            if(info === 'title') {
                pubInfo += '<h1>' + publication[info] + '</h1>'
            } else if(info === 'pub_id') {

            } else {
                pubInfo += '<p>' + info.charAt(0).toUpperCase() + info.slice(1) + ': ' +  publication[info] + '</p>'
            }
        }

        var filesList = ''

        var f = '{{ files_list|safe }}'

        var files = JSON.parse(f)

        for(var key in files) {
            filesList += '<div style="display:flex; flex-direction: row; justify-content: space-around; margin-bottom: 15px;"><form action="/user_publications/' + publication["pub_id"] + '/files/' + key + '"><button>' + files[key] + '</button></form>'
            filesList += '<form action="/user_publications/' + publication["pub_id"] + '/files/' + key + '/delete">' + '<button>Delete file</button></form></div>'
        }

        document.getElementById("info_box").innerHTML += pubInfo
        document.getElementById("files_list").innerHTML += filesList
    </script>
    </body>
</html>