<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
    <div class="app-box">
    <h1>Update publication</h1>
        <form action="/user_publications/{{PID}}/update" method="POST">
            <input type="text" name="title" value="{{title_value}}" placeholder="Title"/>
            <input type="text" name="authors" value="{{authors_value}}" placeholder="Authors"/>
            <input type="text" name="year" value="{{year_value}}" placeholder="Year"/>
            <input type="text" name="publisher" value="{{publisher_value}}" placeholder="Publisher"/>
            <input type="submit" value="Send"/>
        </form>
    </div>
    </body>
</html>