<!DOCTYPE html>
<html>
    <head>    
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="app-box">
            <h1>Hello!</h1> <!-- zobaczyc czy da sie jakos dodac username-->
            <form action="/user_publications">
                <button>
                    Your publications
                </button>
            </form>
            <div class="logout">
                <a href="/logout">Logout</a>
            </div>
        </div>
    </body>
</html>